<!-- <main class="">
  <div class="h-screen w-screen flex bg-blue">
  </div>
</main> -->
<!-- <h1>teste</h1> -->
<div class="h-screen w-screen flex flex-col gap-4 bg-[url('/assets/svg/Background.svg')] bg-no-repeat bg-cover items-center justify-center">

  <form class="w-96" [formGroup]="citySearchData" (ngSubmit)="onSearch()">
    <div class="flex w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
      <div class="relative flex-grow w-full">
        <label for="cidade" class="leading-7 text-sm text-slate-100">Cidade</label>
        <input formControlName="cidade" type="text" id="cidade" name="cidade" class="text-slate-100 w-full bg-purple-700/50 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Pesquisar</button>
    </div>
  </form>

  <div *ngIf="climateDataOb | async as data" class="min-h-96 min-w-96 flex flex-col bg-violet-500 rounded-xl flex items-center justify-between p-4">

    <section class="flex h-fit w-full justify-between">
      <img class="h-10 w-10" src="https://openweathermap.org/img/wn/{{ data.icon }}.png" alt="nuvem">
      <h3 class="self-center text-violet-300">{{ data.city_name }}</h3>
    </section>

    <section>
      <section class="flex justify-center gap-2 pr-1">
        <h2 class="text-slate-100 text-lg font-bold">{{ data.temp_max }}°</h2>
        <h2 class="text-violet-300 text-lg font-bold">{{ data.temp_min }}°</h2>
      </section>
      <section>
        <h1 class="text-slate-100 mt-0 text-8xl font-bold pl-7">{{ data.temp }}°</h1>
      </section>
    </section>

    <section class="grid grid-cols-3 mb-8 pt-4 w-96 place-items-center h-20 gap-2">
      <div class="bg-purple-900/20 rounded-xl w-full h-16 flex flex-row items-center justify-center gap-2">
        <img src="/assets/svg/vento.svg" class="h-12 w-12">
        <section>
          <h2 class="text-slate-100">Vento</h2>
          <h3 class="text-slate-100">{{ data.wind_speed }}m/s</h3>
        </section>
      </div>
      <div class="bg-purple-900/20 rounded-xl w-full h-16 flex flex-row items-center justify-center">
        <img src="/assets/svg/umidade.svg" class="h-12 w-12">
        <section>
          <h2 class="text-slate-100">Umidade</h2>
          <h3 class="text-slate-100">{{ data.humidity }}%</h3>
        </section>
      </div>
      <div class="bg-purple-900/20 rounded-xl w-full h-16 flex flex-row items-center justify-center ">
        <img src="/assets/svg/clima.svg" class="h-12 w-12">
        <section>
          <h2 class="text-slate-100">Clima</h2>
          <h3 class="text-sm text-slate-100">{{ data.weather_desc }}</h3>
        </section>
      </div>
    </section>

  </div>
</div>
